* {
    margin: 0;
    padding: 0;
}

.imagem {
    background: fixed;
    color: #fff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.normal {
    background: local #000;
    color: #fff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}